*{
    padding: 0;
    margin: 0;
}

/* PARTTE DEL HEADER*/
.barra_navegacion{
    background-color: #660000;

}


/*PARTE DEL BODY*/
body{
    box-sizing: border-box;
}

.fondo_color{
    background-color: #660000;
}



/* PARTE DEL FOOTER*/
footer{
    background-color: #660000;
}
.icono{
    color: black;
}
.icono:hover{
    color: white;
}

